*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Fredoka', sans-serif;
}

.container{
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.title *{
    margin: 50px 0;
}

.cards-section{
    text-align: left;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.card{
    width: calc((100% / 3) - (4em / 3));
    background-color: #0f0e17;
    float: left;
    margin-right: 2em;
    margin-bottom: 3em;
    color: white;
    box-shadow: 0 0 10px 1px black;
    /* 
        IN ORDINE:  #POSIZIONE ORIZZONTALE (-SINISTRA , +DESTRA)
                    #POSIZIONE VERTICALE (-SU' , +GIU')
                    #SFOCATURA (IN PX , DA 0 IN POI)
                    #DIFFUSIONE (DIMENSIONE OCCUPATA IN PX)
                    https://toolset.mrw.it/css/css3-box-shadow.html
    */
}

.card:nth-child(3n){
    margin-right: 0;
}

.card img{
    width: 100px;
    float: left;
}

.bio{
    padding: 10px 10px 10px 110px;
}

.bio *{
    padding: 3px;
}

.bio p:last-child{
    color: #4dccf2;
}

h1{
    font-size: 3rem;
    color: #e53170;
}